body{
  background-color: #85cfe7;
  
  }

.social-icon{
  font-size:48px;
  color: #2b09ee;
  text-decoration: none;
}

.social-icon:hover{
    color:#000;
}

.fa-star,
.fa-star-half{
    color: rgb(66, 205, 50);
    padding: 3% 0;
}

#cart_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

.shopping-cart{
    padding: 3% 0;
}

.cart-items + .cart-items{
    padding: 2% 0;
}

.price-details h6{
    padding: 3% 2%;
}
body{
  background-color: #85cfe7;
  
  }
  #menu{
    margin: 0;
    padding: 0;
    margin-top: 30px;
  }
  #menu li{
    list-style: none;
    display: inline-block;
  }
  #menu li a{
    text-decoration: none;
    position: relative;
    color: #313131;
    font-size: 25px;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    overflow: hidden;
    transition: 0.7s all;
    padding: 14px 30px;
    text-transform: uppercase;
  }
  #menu li a:before{
    content: '';
    width: 60px;
    position: absolute;
    border-bottom: 8px solid #313131;
    bottom: 0;
    right: 350px;
    transition: 0.7s all;
  }
  #menu li a:hover:before{
    right: 0;
  }
  ::selection{
    color: #fff;
    background: #664AFF;
  }
  .wrapper{
    max-width: 450px;
    margin: 10px auto;
    top:1
  }
  
  img{
    max-width: 100%;
    height: auto;
    background: lightblue;
    background: radial-gradient(white 30%, lightblue 70%);
}

.fa-star,
.fa-star-half{
    color: yellowgreen;
    padding: 3% 0;
}

#cart_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

.shopping-cart{
    padding: 3% 0;
}

.cart-items + .cart-items{
    padding: 2% 0;
}

.price-details h6{
    padding: 3% 2%;
}
#OrderButton{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}