@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  margin: 0;
  padding: 0;
  background-color: #85cfe7;
  height: 100vh;
  overflow: hidden;
}

.social-icon{
  position:relative;
  font-size:48px;
  margin: 2px;
  color: #2b09ee;
  text-decoration: none;
}

.social-icon:hover{
    color:#000;
}
  #menu{

    margin: 0;
    padding: 0;
    margin: 2px;
   
  }
  #menu li{
    list-style: none;
    display: inline-block;
  }
  #menu li a{
    text-decoration: none;
    position: relative;
    color: #313131;
    font-size: 50px;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    overflow: hidden;
    transition: 0.7s all;
    padding: 14px 30px;
    text-transform: uppercase;
  }
 #menu li a:before{
    content: '';
    width: 100px;
    position: absolute;
    border-bottom: 8px solid #313131;
    bottom: 0;
    right:  350px;
    transition: 0.7s all;
  }
  #menu li a:hover:before{
    right: 0;
  }
.logo{
  
  width: 200px;
  height: 150px;
  margin: 2px;
  position: absolute;
  left:20%;
  top:45%;

}


.title {
	font-family: "Montserrat";
	text-align: center;
  font-size: 36px;
	color: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	letter-spacing: 1px;
  position:relative;
  left:5%;
  margin-top: 8%;
  
}








